body,
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

#root {
  background: gray;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}

#search-bar {
  flex: 0 0 auto;
}

#search-bar input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: solid 1px black;
}

#results-list {
  flex: 1;
  overflow: auto;
  padding: 10px 20px;
}